*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  background-image: linear-gradient(to right,rgba(97, 158, 255,1),rgba(14, 99, 235,1)) ;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  background-color: white;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  height: 600px;

}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding:10px 0px 10px 0px;
}

.title-input {
  flex:6;
  background-color: rgba(252, 252, 252, 0.936);
  border-radius: 6px;
  border: solid 1px rgb(223, 222, 222);
  padding:10px;
}

.submit-button {
  flex:1;
  background-image: linear-gradient(to right,rgba(97, 158, 255,1),rgba(14, 99, 235,1)) ;
  border-radius: 6px;
  border: 1px solid rgb(223, 222, 222);
}

.submit-button.disabled {
  background-image: linear-gradient(to right,rgb(159, 195, 254),rgb(230, 240, 255)) ;
}

.button-text {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.2rem;
}

.button-icon {
  margin-right: 10px;
}

.icon-svg {
  color:#fff;
  font-size: 20px;
}

.header {
  width: 100%;
}

.header-text {
  color:rgba(14, 99, 235,1);
  font-weight: 600;

}

.filter-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.filter {
  cursor:pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:10px 10px 0 10px;
  margin: 0 5px 0 5px;
}

.filter.active {
  border-bottom: 2px solid rgb(46, 250, 100);
}

.list-container {
  flex: 6;
  margin-top: 10px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  margin-bottom: 3px;
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 20px 10px 20px 10px;
  border: 1px solid rgba(212, 210, 210, 0.428);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  border-left-width: 4px;
  border-radius: 4px;
  flex-direction: row;
}

.item-content {
  display: flex;
  flex:6;
  flex-direction: column;
}

.item-action-container {
  flex:1;
  display: flex;
  flex-direction: row;
}
.item-action {
  margin: 0px 5px 0px 5px;
}

.item-action.delete > svg {
  color:rgb(255, 42, 42);
  font-size: 20px;
}
.item-info {
  color: rgb(156, 156, 156);
  font-size: 0.7rem;
  font-weight: 500;
}

#item-status{

  font-size: 0.8rem;
  font-weight: 600;
}
.pending {
  color: rgb(109, 109, 109);
}

.complete {
  color: rgb(12, 202, 2);
}

#pending-icon {
  color: rgb(109, 109, 109);
}

.loading-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loading {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.loading:after {
  content: " ";
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(74, 4, 252);
  border-color: rgb(74, 4, 252) transparent #fff rgb(74, 4, 252);
  animation: loading-anim 1.2s linear infinite;
}
@keyframes loading-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none!important;
}

.show {
  display: block!important;
}

.delete-all-container{
  display: block;
}

.delete-all{
  display: flex;
  flex-direction: row;
  padding:5px;
}

.delete-all-text{
  color:rgb(119, 119, 119);
  font-size: 0.95rem;
  font-weight: 600;
  margin-right: 10px;
}

.delete-all > svg {
  color:rgb(119, 119, 119);
}
.delete-all:hover .delete-all-text , .delete-all:hover >svg{
  cursor: pointer;
  color: rgb(255, 114, 114);
}

.filter-icon > svg {
  color: rgb(174, 174, 174);
  margin-right: 2px;
}

.filter.active > .filter-icon > svg {
  color: rgb(18, 46, 2);
}

.empty-list {
  background-color: red;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.empty-list-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.empty-text {
  color: #0066ff;
  font-weight: 600;
  font-size: 1.1rem;
}

.empty-image {
   width: 100px;
  height: 100px;
 }
