*{

    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.app {
    width: 880px;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid 0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-repeat: no-repeat;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.todo-list-container{
    flex: 1;
    width: 100%;
    padding-top:10px;
    display: flex;
    flex-direction: column;
}

.todo-item {
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
    border-left: #268bfc 2px solid;
    background-color: rgb(250, 250, 250);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: row;
    border-bottom: 1px solid rgb(213, 213, 213);
}

.todo-action {
    padding:10px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.remove {
    color: rgb(255, 255, 255);
    background-color: #f65568;
}

.complete {
    color: rgb(255, 255, 255);
    background-color: #019b18;
}

.todo-text{
    color:#4d4d4d;
    font-size: 16px;
    font-weight: 600;
}

.todo-action-container{
    display: flex;
    flex-direction: row;
}
.todo-input-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.todo-input{
    flex-grow: 6;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid rgb(183, 183, 183);
}
.add-button-text {
    margin-left: 5px;
    font-weight: 700;
    font-size: 18px;
    color: white;
}
.add-button-icon{
    margin-left: 5px;
    font-weight: 700;
    font-size: 18px;
    color: white; 
}
.add-button {
    flex-grow: 1;
    margin-left: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid #1d82f6 ;
    background-color: #268bfc;
}

.add-button:hover{
    background-color: #0e7af7 ;
    transition:  100ms;
    
}

.add-button:hover > .add-button-icon{
    font-size: 20px;
    
}


.header-text-container{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
}
.header-text {
    font-size: 24px;
    font-weight: 700;
    color: #393a3b;
}

.item-count {
    color: #7c7c7c;

    font-weight: 500;
}

@media screen and (max-width:800px) {
    .app {
        width: 400px;
    }
}

@media screen and (max-width:1280px) {
    .app {
        width: 600px;
    }
}


